@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Employee Deduction Calculator</h2>
    <p class="lead">Compact, minimal web application to help roughly estimate per-pay-period deductions</p>
</div>

<div class="row" ng-app="DeductionCalculator" ng-controller="employeeController" ng-cloak>

    <div class="col-md-8">
        <h3>Add Employee</h3>
        <form class="form-inline">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="Jane" ng-model="empl.firstName"/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Doe" ng-model="empl.lastName" />
            </div>
            <br />
            <button ng-click="addEmployee(empl)" class="btn btn-default">Add Employee</button>
        </form>
        <!-- Hidden until employee added-->
        <h3 ng-show="employee.isValid()">Add Dependent</h3>
        <form class="form-inline" ng-show="employee.isValid()">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Jane" ng-model="dep.firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Doe" ng-model="dep.lastName">
            </div>
            <br/>
            <button ng-click="addDependent(dep)" class="btn btn-default">Add Dependent</button>
        </form>
        <br />
        <button class="btn btn-default" ng-click="clearForm()">Clear Form</button>
    </div>
    <div class="col-md-4" ng-show="employee.isValid()" >
        <h3>Employee Name</h3>
        <p>{{employee.firstName}} {{employee.lastName}}</p>
        <h3 ng-show="employee.dependents.length > 0">Dependents</h3>
        <ul ng-repeat="dep in employee.dependents">
            <li>{{ dep.firstName }} {{dep.lastName}}</li>
        </ul>

        <h3>Paycheck per cycle w/ Deduction</h3>
        <h4>{{ paycheck | currency }}</h4>
    </div>
</div>