@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Employee Deduction Calculator</h2>
    <p class="lead">Compact, minimal web application to help roughly estimate per-pay-period deductions</p>
</div>

<div class="row">

    <div class="col-md-4">
        <h3>Add Employee</h3>

        <!-- Hidden until employee added-->
        <h3>Add Dependent</h3>

    </div>
    <div class="col-md-4">
        <ul>
            <li>Employee 1</li>
            <li>Employee 2</li>
            <li>Employee 3</li>
        </ul>
    </div>
</div>